/*
* @Author: Marte
* @Date:   2018-05-23 11:50:39
* @Last Modified by:   Marte
* @Last Modified time: 2018-05-23 11:52:46
*/
body{
    font-family: "Helvetica","Arial",sans-serif;
    font-size: 10pt;
}

abbr{
    text-decoration: none;
    border:0;
    font-style:normal;
}